<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% if current_user.is_authenticated %}
        <h1>Bienvenido, {{ current_user.username }}</h1>
        <form method="POST" action="{{ url_for('add') }}">
            <input type="text" name="nota" placeholder="Añade una nueva nota aquí...">
            <input type="submit" value="Agregar">
        </form>
        <ul>
            {% for nota in notas %}
                <li>{{ nota.contenido }} - <a href="{{ url_for('edit', nota_id=nota.id) }}">Editar</a> - <a href="{{ url_for('delete', nota_id=nota.id) }}">Borrar</a></li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
    {% else %}
        <h1>Por favor, inicia sesión o regístrate.</h1>
        <p><a href="{{ url_for('login') }}">Iniciar Sesión</a></p>
        <p><a href="{{ url_for('registro') }}">Registrarse</a></p>
    {% endif %}
</body>
</html>
