<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Iniciar Sesión</h1>
    <form method="POST">
        <input type="text" name="username" placeholder="Nombre de Usuario">
        <input type="password" name="password" placeholder="Contraseña">
        <input type="submit" value="Iniciar Sesión">
    </form>
    <p>¿No tienes una cuenta? <a href="{{ url_for('registro') }}">Regístrate</a></p>
</body>
</html>
